<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WebChatSoftWare99</title>
        <link rel="stylesheet" href={{ url_for('static', filename='./CSS/homepage_styles.css') }}>
    </head>
    <body>
        <header>
            <h1>Webchatsoftware99</h1>
            <img src={{ url_for('static', filename="./img/logo.png") }} alt="logo" />
        </header>
        <main>
            <section id="ChiSono">
                <h2>Chi sono</h2>
                <p>Sono un studente di informatica al terzo anno di ITIS che sta cercando di diventare <br />un Software Enginear in abito di Inteligenze Artificiali e Data Science</p>
            </section>
            <br />
            <section id="CosaParleraQuestoSito">
                <h2>Cosa parlera questo sito</h2>
                <p>Questo sito lo utilizzer&ograve; per documentare i miei progressi come programmatore &egrave; <br />imparare anche un minimo il funzionamento del web development e chi sa cos'altro</p>
            </section>
            <br />
            <section id="UltimoProgetto">
                <h2>I miei progetti finora</h2>
                <button><a href="/NewsPopup">News Pop-up</a></button>
                <br>
                <button><a href="/StayFocus">Stay Focus</a></button>
            </section>
        </main>
        <nav>
            <h2>Contact me</h2>
            <p>Email: <a href="mailto:webchatsoftware@gmail.com">webchatsoftware@gmail.com</a></p>
            <p><a href="https://it.fiverr.com/danymottu?public_mode=true">Fiverr</a></p>
        </nav>
        <!-- BEGIN AADS AD UNIT 2429703 -->

<div id="frame" style="width: 100%;margin: auto;position: relative; z-index: 99998;">
          <iframe data-aa='2429703' src='//acceptable.a-ads.com/2429703/?size=Adaptive'
                            style='border:0; padding:0; width:70%; height:auto; overflow:hidden;display: block;margin: auto'></iframe>
        </div>

<!-- END AADS AD UNIT 2429703 -->
        </body>
</html>